<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/home.css">
</head>
<body>
    <h3>Data sent</h3>

    <form action="/home" method="get">
        <a href="home">Discipline issue</a>
    </form>

    <form action="/private" method="get">
        <a href="private">Discipline</a>
    </form>
</body>
</html>