<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>Sign Up</h1>
        <form action="/signup" method="post">
          <input placeholder="Name" name="name" type="text" />
          <br />
          <input placeholder="Password" name="password" type="password" id="pass" />
          <br />
          <input className="sub" type="submit" />
          <a href="/">Go back to login page</a>
        </form>
</body>
</html>